.container-md{
    max-width:100rem;
    margin:0 auto;
    }
    .product-detail{
        margin-top:90px;
    }
    .product-detail-container{
        margin-top:40px;
    }
    .details{
        display:flex;
        gap: 7rem;
    }
    .main{
      text-align: center;
      background-color: #fcfaf9;
      height: 25rem;
      padding: 2rem;
     
    }
    .main img{
        object-fit: contain;
        height:100%;
    }
    .right h3{
        font-size: 1.7rem;
        font-weight: 600;
        line-height: 1.2;
        margin-bottom:2rem;
    }
    .right .price{
        font-weight: 600;
        font-size:1.8rem;
        color:orangered;
        margin-bottom:2rem;
    }
    .share p{
        font-weight: 600;
    }
    .right .share{
        margin-top: 12px;
        display:flex;   
    }
    .right .share ul{
        display:flex;
       
    }
    .right ul li{
        list-style: none;
        margin-right: 20px;  
        color: #b3a707;
        font-size: 18px;
    }
    form {
        margin-bottom: 2rem;
    }
    form select{
        padding:10px;
        font-size: 15px;
        font-weight: 500;
    }
    form input-form{
        padding:0.8rem;
        width:3.5rem;
        margin-right:15px;
    }
    .right .button-group button{
        background: transparent;
        border-style: none;
        font-size: 18px;
        font-weight: 600;
    }
    .button-group{
        background-color: #f5f5f5;;
        padding: 5px 15px;
        justify-content: space-around;
        align-items: center;
        display: inline-flex;
        border-radius: 4px;
    }
    .spinnerImg{
      text-align: center;
    }